
<div id="kampooter" *ngIf="mobail">
  <div id="gamecontainer">
    <div id="gamescreen">
      <div id="sky" class="animated">
        <div id="flyarea">
          <div id="ceiling" class="animated"></div>
          <!-- This is the flying and pipe area container -->
          <div id="player" class="bird animated"></div>
  
          <div id="bigscore"></div>
  
          <div id="splash"></div>
  
          <div id="scoreboard">
            <div id="medal"></div>
            <div id="currentscore"></div>
            <div id="highscore"></div>
            <div id="replay"><img src="assets/replay.png" alt="replay"></div>
          </div>
  
          <!-- Pipes go here! -->
        </div>
      </div>
      <div id="land" class="animated">
        <div id="debug"></div>
      </div>
    </div>
  </div>
  <div id="footer">
    <a href="http://www.dotgears.com/">original game/concept/art by dong nguyen</a>
    <a href="http://nebezb.com/">recreated by nebez briefkani</a>
    <a href="http://github.com/nebez/floppybird/">view github project</a>
  </div>
  <div class="boundingbox" id="playerbox"></div>
  <div class="boundingbox" id="pipebox"></div>

</div>

<div class="mob-view">
  <div class="container">
    <div class="row h-100">
      <div class="col-md-12 text-center my-auto vertical">
        <button (click)="jump()" class="push push--flat" ></button>
      </div>
    </div>
  </div>
</div>